<%- include('partials/header') %>

<h1>Dashboard</h1>

<div class="row">
    <div class="col-md-6">
        <div class="card text-white bg-primary mb-3">
            <div class="card-header">Customer List</div>
            <div class="card-body">
                <h1 class="card-title"><%= totalCustomers %></h1>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card text-white bg-success mb-3">
            <div class="card-header">Total Proyek</div>
            <div class="card-body">
                <h1 class="card-title"><%= totalProjects %></h1>
            </div>
        </div>
    </div>
</div>

<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a href="/customers/add" class="btn btn-primary">+ Add New Customer</a>
    <a href="/projects/add" class="btn btn-success">+ Add New Project</a>
    <a href="/projects" class="btn btn-secondary">View Project Reports</a>
</div>

<%- include('partials/footer') %>