<%- include('../partials/header') %>

<h1>Add Customer</h1>

<form action="/customers/add" method="POST">

    <div class="mb-3">
        <label>Name</label>
        <input type="text" name="name" class="form-control">
    </div>

    <div class="mb-3">
        <label>Address</label>
        <input type="text" name="address" class="form-control">
    </div>

    <div class="mb-3">
        <label>Email</label>
        <input type="email" name="email" class="form-control">
    </div>

    <div class="mb-3">
        <label>Phone</label>
        <input type="text" name="phone" class="form-control">
    </div>

    <div class="mb-3">
        <label>Contact</label>
        <input type="text" name="contact" class="form-control">
    </div>

    <div class="mb-3">
        <label>Sales</label>
        <select name="salesId" class="form-control">
            <option value="">- pilih -</option>
            <% users.forEach(u => { %>
                <option value="<%= u.id %>"><%= u.username %></option>
            <% }) %>
        </select>
    </div>

    <div class="mb-3">
        <label>Note</label>
        <textarea name="note" class="form-control"></textarea>
    </div>

    <button class="btn btn-success">Save</button>
    <a href="/customers" class="btn btn-secondary">Cancel</a>
</form>

<%- include('../partials/footer') %>
